body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #b4b4b4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #07080a;
}

p {
    font-size: 18px;
}

.box h1 {
    font-size: 2em;
    color: #333;
}

.box p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    margin-right: 20px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #111;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Footer stays at the bottom */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-info {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}


.row-container {
    display: flex;
    justify-content: space-between; /* Adds space between the two divs */
    margin: 20px;
}

.box {
    flex: 1; /* Makes both boxes take up equal space */
    margin: 10px; /* Adds some space around each box */
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.naturepic {
    width: 300px;
}

.mountainpic {
    width: 300px;
}

@media (min-width: 600px) {

 p {
    font-size: 1rem;
 }
}

@media (max-width: 768px) 
{


    .row-container {
        flex-direction: column; /* Stacks the boxes vertically */
    }

    .box {
        margin: 10px 0; /* Adds vertical margin between the stacked boxes */
    }
}

@media (max-width: 750px) {

    .footer-info {
        
        flex-direction: row;
        padding: 2px;
    }
}

aside {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    margin-left: 10px;
    border-left: 3px solid #ccc;
}
.greycat {
    width: 300px;
}

.greycatlaying {
    width: 300px;
}

.greycattelephone {
    width: 300px;
}
